@media only screen and (max-width: 1300px){
    .options{
        display: none;
        display: flex;
        position: absolute;
        z-index: 1;
    }
    .calendar{
        border-top-right-radius: 9px !important;
    }
}