@media only screen and (max-width: 1300px){
    .options{
        display: none;
        position: absolute;
        z-index: 1;
        width: 90%;
        background-color: #ffffff0d;
        align-items: center;
        border-radius: 8px;
        backdrop-filter: blur(60px) saturate(125%);
        -webkit-backdrop-filter: blur(60px) saturate(125%);
        border: 1px solid rgba(0, 0, 0, 0.6);
    
    }
    .calendar{
        border-top-right-radius: 9px !important;
        justify-content: space-evenly;
    }
    .timetable header {
        width: 90%;
        margin: 0 5% 0 5%;
    }
}